# Files and folders here will be not included when creating package
/.github export-ignore
/README.md export-ignore
/CHANGELOG.md export-ignore
/.travis.yml export-ignore
/release-please-config.json export-ignore
/sonar-project.properties export-ignore
/release-commit.php export-ignore
