<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- TODO: Specify files to be covered by tests-->
            <!--<file>./webfiori/framework/Access.php</file>-->
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <!-- TODO: Specify test suits. Each folder should have one suite.-->
        
        <testsuite name="General Tests">
            <directory>./sample</directory>
        </testsuite>
        
    </testsuites>
</phpunit>